
  <div class="content-register-form">
    <div class="content-form">
        <div class="alert alert-success" *ngIf="status == 'success'">

            Registro completo, <a [routerLink] = "['/login']">Ingresa aquí</a>

        </div>
        <div class="alert alert-success" *ngIf="status == 'error'">
                no se ha podido completar el registro
    
            </div>
        <form #registerForm="ngForm" (ngSubmit)="onSubmit(registerForm)">
            <div class="item-form">
                <label for="">Nombre</label>
                <input type="text" name="nombre" #nombre="ngModel" [(ngModel)]="user.nombre" required />
                <span *ngIf="!nombre.valid && nombre.touched">
                    El nombre es obligatorio
                </span>
            </div>

            <div class="item-form">
                <label for="">Apellido</label>
                <input type="text" name="apellido" #apellido="ngModel" [(ngModel)]="user.apellido" required />
                <span *ngIf="!apellido.valid && apellido.touched">
                    El Apellido es obligatorio
                </span>
            </div>

            <div class="item-form">
                <label for="">Email</label>
                <input type="email" name="email" #email="ngModel" [(ngModel)]="user.email" required />
                <span *ngIf="!email.valid && email.touched">
                    El email es obligatorio
                </span>
            </div>

            <div class="item-form">
                <label for="">Password</label>
                <input type="password" name="password" #password="ngModel" [(ngModel)]="user.password" required />
                <span *ngIf="!password.valid && password.touched">
                    El password es obligatorio
                </span>
            </div>

            <div class="item-form">
                <label for="">Telefono</label>
                <input type="text" name="telefono" #telefono="ngModel" [(ngModel)]="user.telefono" required />
                <span *ngIf="!telefono.valid && telefono.touched">
                    El telefono es obligatorio
                </span>
            </div>

            <input type="submit" value="{{title}}" [disabled]="!registerForm.form.valid">
        </form>
    </div>
</div>


  